bidict==0.22.1
blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
config==0.5.1  # No recent updates, keep the same if still required
emoji==2.8.0
Flask==2.3.3
Flask-Mail==0.9.1  # This package is not actively maintained; consider alternatives if issues arise
Flask-SocketIO==5.4.1
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
keras==2.13.1
MarkupSafe==2.1.3
nltk==3.9.3
numpy==1.25.2
pandas==2.0.3
Pillow==10.0.1
python-dateutil==2.8.2
python-engineio==4.5.1
python-socketio==5.9.0
pytz==2023.3
regex==2023.8.8
requests==2.31.0
scikit-learn==1.3.0
scipy==1.11.2
six==1.16.0
spotipy==2.23.0
text2emotion==0.0.5  # No recent updates, keep the same if still required
threadpoolctl==3.2.0
tqdm==4.65.0
urllib3==2.0.4
Werkzeug==3.0.1
